<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jasonper.discountmbg.mapper.GameBaseTypeRelationMapper">
  <resultMap id="BaseResultMap" type="org.jasonper.discountmbg.model.GameBaseTypeRelation">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="game_base_id" jdbcType="BIGINT" property="gameBaseId" />
    <result column="game_type_id" jdbcType="BIGINT" property="gameTypeId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, game_base_id, game_type_id
  </sql>
  <select id="selectByExample" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from game_base_type_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from game_base_type_relation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from game_base_type_relation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelationExample">
    delete from game_base_type_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_base_type_relation (game_base_id, game_type_id)
    values (#{gameBaseId,jdbcType=BIGINT}, #{gameTypeId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelation">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_base_type_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gameBaseId != null">
        game_base_id,
      </if>
      <if test="gameTypeId != null">
        game_type_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gameBaseId != null">
        #{gameBaseId,jdbcType=BIGINT},
      </if>
      <if test="gameTypeId != null">
        #{gameTypeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelationExample" resultType="java.lang.Long">
    select count(*) from game_base_type_relation
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update game_base_type_relation
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.gameBaseId != null">
        game_base_id = #{record.gameBaseId,jdbcType=BIGINT},
      </if>
      <if test="record.gameTypeId != null">
        game_type_id = #{record.gameTypeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update game_base_type_relation
    set id = #{record.id,jdbcType=BIGINT},
      game_base_id = #{record.gameBaseId,jdbcType=BIGINT},
      game_type_id = #{record.gameTypeId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelation">
    update game_base_type_relation
    <set>
      <if test="gameBaseId != null">
        game_base_id = #{gameBaseId,jdbcType=BIGINT},
      </if>
      <if test="gameTypeId != null">
        game_type_id = #{gameTypeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jasonper.discountmbg.model.GameBaseTypeRelation">
    update game_base_type_relation
    set game_base_id = #{gameBaseId,jdbcType=BIGINT},
      game_type_id = #{gameTypeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>