<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jasonper.discountmbg.mapper.GameBasesMapper">
  <resultMap id="BaseResultMap" type="org.jasonper.discountmbg.model.GameBases">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name_en" jdbcType="VARCHAR" property="nameEn" />
    <result column="name_zh" jdbcType="VARCHAR" property="nameZh" />
    <result column="code" jdbcType="BIGINT" property="code" />
    <result column="issue_date" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="tags" jdbcType="VARCHAR" property="tags" />
    <result column="game_size" jdbcType="VARCHAR" property="gameSize" />
    <result column="player_num" jdbcType="VARCHAR" property="playerNum" />
    <result column="ign" jdbcType="VARCHAR" property="ign" />
    <result column="support_zh" jdbcType="INTEGER" property="supportZh" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="org.jasonper.discountmbg.model.GameBases">
    <result column="cover_url" jdbcType="LONGVARCHAR" property="coverUrl" />
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name_en, name_zh, code, issue_date, tags, game_size, player_num, ign, support_zh, 
    create_time
  </sql>
  <sql id="Blob_Column_List">
    cover_url, introduction
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="org.jasonper.discountmbg.model.GameBasesExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game_bases
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="org.jasonper.discountmbg.model.GameBasesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from game_bases
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from game_bases
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from game_bases
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="org.jasonper.discountmbg.model.GameBasesExample">
    delete from game_bases
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.jasonper.discountmbg.model.GameBases">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_bases (name_en, name_zh, code, 
      issue_date, tags, game_size, 
      player_num, ign, support_zh, 
      create_time, cover_url, introduction
      )
    values (#{nameEn,jdbcType=VARCHAR}, #{nameZh,jdbcType=VARCHAR}, #{code,jdbcType=BIGINT}, 
      #{issueDate,jdbcType=TIMESTAMP}, #{tags,jdbcType=VARCHAR}, #{gameSize,jdbcType=VARCHAR}, 
      #{playerNum,jdbcType=VARCHAR}, #{ign,jdbcType=VARCHAR}, #{supportZh,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{coverUrl,jdbcType=LONGVARCHAR}, #{introduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.jasonper.discountmbg.model.GameBases">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into game_bases
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="nameEn != null">
        name_en,
      </if>
      <if test="nameZh != null">
        name_zh,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="issueDate != null">
        issue_date,
      </if>
      <if test="tags != null">
        tags,
      </if>
      <if test="gameSize != null">
        game_size,
      </if>
      <if test="playerNum != null">
        player_num,
      </if>
      <if test="ign != null">
        ign,
      </if>
      <if test="supportZh != null">
        support_zh,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="coverUrl != null">
        cover_url,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="nameEn != null">
        #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=BIGINT},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tags != null">
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="gameSize != null">
        #{gameSize,jdbcType=VARCHAR},
      </if>
      <if test="playerNum != null">
        #{playerNum,jdbcType=VARCHAR},
      </if>
      <if test="ign != null">
        #{ign,jdbcType=VARCHAR},
      </if>
      <if test="supportZh != null">
        #{supportZh,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverUrl != null">
        #{coverUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="org.jasonper.discountmbg.model.GameBasesExample" resultType="java.lang.Long">
    select count(*) from game_bases
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update game_bases
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.nameEn != null">
        name_en = #{record.nameEn,jdbcType=VARCHAR},
      </if>
      <if test="record.nameZh != null">
        name_zh = #{record.nameZh,jdbcType=VARCHAR},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=BIGINT},
      </if>
      <if test="record.issueDate != null">
        issue_date = #{record.issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tags != null">
        tags = #{record.tags,jdbcType=VARCHAR},
      </if>
      <if test="record.gameSize != null">
        game_size = #{record.gameSize,jdbcType=VARCHAR},
      </if>
      <if test="record.playerNum != null">
        player_num = #{record.playerNum,jdbcType=VARCHAR},
      </if>
      <if test="record.ign != null">
        ign = #{record.ign,jdbcType=VARCHAR},
      </if>
      <if test="record.supportZh != null">
        support_zh = #{record.supportZh,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.coverUrl != null">
        cover_url = #{record.coverUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update game_bases
    set id = #{record.id,jdbcType=BIGINT},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=BIGINT},
      issue_date = #{record.issueDate,jdbcType=TIMESTAMP},
      tags = #{record.tags,jdbcType=VARCHAR},
      game_size = #{record.gameSize,jdbcType=VARCHAR},
      player_num = #{record.playerNum,jdbcType=VARCHAR},
      ign = #{record.ign,jdbcType=VARCHAR},
      support_zh = #{record.supportZh,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      cover_url = #{record.coverUrl,jdbcType=LONGVARCHAR},
      introduction = #{record.introduction,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update game_bases
    set id = #{record.id,jdbcType=BIGINT},
      name_en = #{record.nameEn,jdbcType=VARCHAR},
      name_zh = #{record.nameZh,jdbcType=VARCHAR},
      code = #{record.code,jdbcType=BIGINT},
      issue_date = #{record.issueDate,jdbcType=TIMESTAMP},
      tags = #{record.tags,jdbcType=VARCHAR},
      game_size = #{record.gameSize,jdbcType=VARCHAR},
      player_num = #{record.playerNum,jdbcType=VARCHAR},
      ign = #{record.ign,jdbcType=VARCHAR},
      support_zh = #{record.supportZh,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.jasonper.discountmbg.model.GameBases">
    update game_bases
    <set>
      <if test="nameEn != null">
        name_en = #{nameEn,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null">
        name_zh = #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=BIGINT},
      </if>
      <if test="issueDate != null">
        issue_date = #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="tags != null">
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="gameSize != null">
        game_size = #{gameSize,jdbcType=VARCHAR},
      </if>
      <if test="playerNum != null">
        player_num = #{playerNum,jdbcType=VARCHAR},
      </if>
      <if test="ign != null">
        ign = #{ign,jdbcType=VARCHAR},
      </if>
      <if test="supportZh != null">
        support_zh = #{supportZh,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="coverUrl != null">
        cover_url = #{coverUrl,jdbcType=LONGVARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="org.jasonper.discountmbg.model.GameBases">
    update game_bases
    set name_en = #{nameEn,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      code = #{code,jdbcType=BIGINT},
      issue_date = #{issueDate,jdbcType=TIMESTAMP},
      tags = #{tags,jdbcType=VARCHAR},
      game_size = #{gameSize,jdbcType=VARCHAR},
      player_num = #{playerNum,jdbcType=VARCHAR},
      ign = #{ign,jdbcType=VARCHAR},
      support_zh = #{supportZh,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      cover_url = #{coverUrl,jdbcType=LONGVARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.jasonper.discountmbg.model.GameBases">
    update game_bases
    set name_en = #{nameEn,jdbcType=VARCHAR},
      name_zh = #{nameZh,jdbcType=VARCHAR},
      code = #{code,jdbcType=BIGINT},
      issue_date = #{issueDate,jdbcType=TIMESTAMP},
      tags = #{tags,jdbcType=VARCHAR},
      game_size = #{gameSize,jdbcType=VARCHAR},
      player_num = #{playerNum,jdbcType=VARCHAR},
      ign = #{ign,jdbcType=VARCHAR},
      support_zh = #{supportZh,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>